{% extends "base.html" %}
{% block title %}Home – Task Manager{% endblock %}

{% block content %}
  <h2 class="mb-4">Your Tasks</h2>

  {% if tasks %}
    {% for task in tasks %}
      <div class="task-card">
        <div class="task-header">
          <h5>{{ task.title }}</h5>

          <div class="d-flex align-items-center">
            <span
              class="priority-badge
                    {% if task.priority == 'High' %}priority-high{% endif %}
                    {% if task.priority == 'Medium' %}priority-medium{% endif %}
                    {% if task.priority == 'Low' %}priority-low{% endif %}
              "
            >
              {{ task.priority }}
            </span>
          </div>
        </div>

        <div class="task-body">
          <p>{{ task.description }}</p>

          {% if task.completed %}
            <a href="{% url 'toggle_task' task.id %}"
                class="btn complete-btn complete-true">
                Completed
            </a>
          {% else %}
            <a href="{% url 'toggle_task' task.id %}"
                class="btn complete-btn complete-false">
              Mark Complete
            </a>
          {% endif %}

        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="text-center text-muted">
      No tasks found. <a href="{% url 'add_task' %}">Add one now.</a>
    </p>
  {% endif %}

  <button id="backToTop" title="Back to top">↑</button>
{% endblock %}
